.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  /* border: 1px solid var(--highlight-background-color); */
  background-color: transparent
}

.cards .cards-card-body {
  margin: 16px;
  text-align: left;
}

.cards .cards-card-body h3 {
  font-size: var(--body-font-size-xs);
}

.cards .cards-card-body h5 {
  font-size: var(--body-font-size-xxs);
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 9px;
}
