main .form {
  /* visibility: hidden; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-transparent);
  z-index: 6;
  margin: 0;
  display: grid;
}

main .form.visible {
  visibility: visible;
}

main .form > div {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 70%;
  background-color: rgb(255 255 255 / 90%);
  border-radius: 10px;
  margin: auto;
  justify-self: center;
  box-shadow: 2px 2px rgb(255 255 255 / 30%);
}

main .form form {
  width: 60%;
  margin: 10px 5px 10px 10px;
}

main .form > div > div {
  width: 40%;
}

main .form img {
  object-fit: cover;
  height: 100%;
  position: relative;
  border-radius: 0 10px 10px 0;
}

main .form .close {
  width: 40px;
  height: 40px;
  border: 1px solid var(--border-color);
  border-radius: 100rem;
  background-color: var(--highlight-background-color);
  color: inherit;
  font-size: 18px;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

main .form .close::before {
  content: '×';
  transform: translateY(-.1rem);
}

main .form .close:hover,
main .form .close:focus {
  background: var(--focus);
  border-color: var(--focus);
  color: white;
}

main .form input,
main .form textarea,
main .form select {
  border: 1px solid var(--overlay-background-color);
  border-radius: 5px;
  padding: 11px;
  width: 100%;
  max-width: 50rem;
  box-sizing: border-box;
  margin-top: 4px;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
}

main .form textarea {
  min-height: 100px;
}

main .form input:hover,
main .form select:hover {
  border-color: var(--highlight-background-color);
}

main .form label {
  width: 100%;
  display: block;
  font-size: var(--body-font-size-xs);
  text-transform: uppercase;
  box-sizing: border-box;
  font-weight: 800;
}

main .form label.required::after {
  content: "*";
  color: red;
  padding-left: 5px;
}

main .form .field-wrapper {
  margin-bottom: 20px;
}

main .form .form-checkbox-wrapper {
  display: flex;
}

main .form .form-checkbox-wrapper input[type='checkbox'] {
  display: none;
}

main .form .form-checkbox-wrapper input[type='checkbox'] + label::before {
  float: left;
  margin-top: 2px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  content: ' ';
  background: url('./checkbox.svg');
  background-size: contain;
}

main .form .form-checkbox-wrapper input[type='checkbox']:checked +label::before {
  background: url('./checkbox-checked.svg');
  background-size: contain;
  content: ' ';
}

main .form .form-checkbox-wrapper label {
  font-weight: normal;
  text-transform: none;
  display: block;
}

main .form .button {
  cursor: pointer;
  background: var(--button-background-color);
  color: var(--button-text-color);
  border-radius: var(--button-border-radius);;
  padding: var(--button-padding);
}