/* block specific CSS goes here */

main .hero-container>div {
  max-width: unset;
}

main .hero-container {
  padding: 0;
}

main .hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
  height: 99vh;
}

main .hero .hero-content {
  text-align: left;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 19%;
  transform: translate(-50%, -50%);
}

main .hero .hero-content .seperator {
  width: 128px;
  height: 5px;
  display: block;
  content: "";
  background-color: var(--highlight-background-color);
  transition: width .4s ease-in-out;
  margin: auto;
}

main .hero picture, main .hero video {
  position: absolute;
  z-index: -1;
  top: calc(var(--nav-height) * -1);
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main .hero h1 {
  font-size: 30px;
  font-family: primary-font-heavy, notosans-bold, sans-serif;
  line-height: 38px;
  font-weight: 500;
  margin: 10px;
}

main .hero h2 {
  font-family: tertiary-font, notosans-regular, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 10px;
}