/* block specific CSS goes here */

main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
  background: transparent;
}
  
main .hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
  height: var(--hero-height);
}

.article .hero {
  height: var(--article-hero-height);
}

main .hero .hero-content {
  text-align: center;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


main .hero .hero-content h2 {
  margin: 10px;
  text-shadow: 1px 1px 2px #000;
}

main .hero .hero-content .seperator {
  width: 128px;
  height: 5px;
  display: block;
  content: "";
  background-color: var(--highlight-background-color);
  transition: width .4s ease-in-out;
  margin: auto;
}

main .hero picture {
  position: absolute;
  position: fixed;
  z-index: -100;
  top: calc(var(--nav-height) * -1);
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
  width: 100vw;
  height: auto;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.adventures main .hero picture,
.article main .hero picture {
  bottom: 300px;
}

.adventures main .hero img,
.article main .hero img {
  height: 600px;
}