main .modal.fragment-container {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-transparent);
  z-index: 6;
  margin: 0;
  display: grid;
}

main .modal.fragment-container.visible {
  visibility: visible;
}

main .modal.fragment-container .close {
  width: 40px;
  height: 40px;
  border: 1px solid var(--border-color);
  border-radius: 100rem;
  background-color: var(--highlight-background-color);
  color: inherit;
  font-size: 18px;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

main .modal.fragment-container .close::before {
  content: '×';
  transform: translateY(-.1rem);
}

main .modal.fragment-container .close:hover,
main .modal.fragment-container .close:focus {
  background: var(--focus);
  border-color: var(--focus);
  color: white;
}

main .modal.fragment-container > div {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 70%;
  background-color: rgb(255 255 255 / 90%);
  border-radius: 10px;
  margin: auto;
  justify-self: center;
  box-shadow: 2px 2px rgb(255 255 255 / 30%);
}