main .scroll-container {
  margin-top: -20px;
  position: relative;
  /* z-index:-99; */
}
main .scroll-container > div > .card {
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
}

main .scroll-container .card-content {
  background: rgb(0, 0, 0, 30%);
  color: #fff;
  top:50px;
  left:1em;
  padding: 5px 10px;
  z-index:1;
  text-align: left;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  column-gap: 76px;
}

main .scroll-container .card-content a.button {
  z-index: 2;
}

main .scroll-container h3 {
  color: var(--link-text-color);
}

main .scroll-container .card-content .detail-info-rail {
  display: flex;
  background: #dbff00;
  border-radius: 16px;
  align-items: flex-start;
  padding: 24px 40px;
  grid-column-gap: 80px;
  -webkit-column-gap: 80px;
  column-gap: 80px;
  justify-content: space-evenly;
  margin: 40px 0;
}

main .scroll-container .card-content h6 {
  color: rgba(244,244,244,.4);
  font-size: 12px;
  text-transform: inherit;
  margin: 0 0 8px;
}

main .scroll-container .card-content .detail-info-rail h6 {
  color: rgba(0,0,0,.4);
}

main .scroll-container .card-content span {
  line-height: 24px;
  color: #141414;
}

main .scroll-container .card-image.fixed {
  position: fixed;
  top:2px;
}

main .scroll-container .card .card-image {
  width: 100vw;
  position: sticky;
  top:2px;
}
main .scroll-container .card img {
  object-fit: cover;
  width: 100%;
}

@media (min-width: 900px) {
  main .scroll-container .card-container {
    max-width: unset;
    width: 100%;
    margin: auto;
    background: transparent;
  }

  main .scroll-container .card-content {
    display: flex;
    flex-direction: row;
    column-gap: 76px;
    padding: 50px 100px;
  }

  main .scroll-container .card-content > div:nth-child(2) {
    text-align: center;
    padding: 20px;
    width: 20%;
  }
}