@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

main .scroll-container {
  margin-top: -20px;
  position: relative;
  min-height: 100vh;
}

main .scroll-container .fade-in-image {
  .fade-in-image { animation: fadeIn 5s; }
}

main .scroll-container > div > .card {
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
}

main .scroll-container .card-content {
  background: var(--background-color-transparent);
  color: #fff;
  top:50px;
  left:1em;
  padding: 5px 10px;
  z-index:1;
  text-align: left;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  column-gap: 76px;
}

main .scroll-container .card-content a.button {
  z-index: 2;
}

main .scroll-container .card-content .detail-info-rail {
  display: flex;
  background: #dbff00;
  border-radius: 16px;
  align-items: flex-start;
  padding: 24px 40px;
  grid-column-gap: 80px;
  -webkit-column-gap: 80px;
  column-gap: 80px;
  justify-content: space-evenly;
  margin: 40px 0;
}

main .scroll-container .card-content h6 {
  color: rgba(244,244,244,.4);
  font-size: 12px;
  text-transform: inherit;
  margin: 0 0 8px;
}

main .scroll-container .card-content .detail-info-rail h6 {
  color: rgba(0,0,0,.4);
}

main .scroll-container .card-content span {
  line-height: 24px;
  color: #141414;
}

main .scroll-container .card-image.fixed {
  position: fixed;
  top:2px;
}

main .scroll-container .card .card-image {
  width: 100vw;
  position: sticky;
  top:2px;
}
main .scroll-container .card img {
  object-fit: cover;
  width: 100%;
}

main .modal-container {
  /* display: block; */
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--background-color-transparent);
}

/* Modal Content/Box */
main .modal {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
main .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

main .close:hover,
main .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 1000px) {
  main .scroll-container .card-content {
    flex-direction: row;
    column-gap: 76px;
    padding: 50px 100px;
  }

  main .scroll-container .card-content > div:nth-child(2) {
    text-align: center;
    padding: unset;
    width: 20%;
  }
}

@media (min-width: 900px) {
  main .scroll-container .card-container {
    max-width: unset;
    width: 100%;
    margin: auto;
    background: transparent;
  }

  main .scroll-container .card-content {
    column-gap: 76px;
    padding: 50px 100px;
  }

  main .scroll-container .card-content > div:nth-child(2) {
    text-align: center;
    padding: 0;
    margin: 0;
    width: 20%;
  }
}