footer {
  padding: 2rem;
  background-color: var(--background-color-dark);
  font-size: var(--body-font-size-s);
  color: var(--text-color-light);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}