main .tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

main .tabset .tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

main .tabset .tab-panels > .tab-panel {
  display: none;
}

main .tabset #tab-description:checked ~ .tab-panels > .tab-panel.description, 
main .tabset #tab-itinerary:checked ~ .tab-panels > .tab-panel.itinerary,
main .tabset #tab-gearlist:checked ~ .tab-panels > .tab-panel.gearlist {
  display: flex;
  flex-direction: row-reverse;
}

main .tabset input + label::before {
  background-size: 100% 100%;
  display: inline-block;
  height: 22px;
  width:22px;
  position:relative;
  top:5px;
  margin-right: 5px;
}

main .tabset input#tab-itinerary + label::before {
  content: '';
  background-image: url('/icons/magazine.svg');
}

main .tabset input#tab-gearlist + label::before {
  content: '';
  background-image: url('/icons/magazine.svg');
}

main .tabset input#tab-description + label::before {
  content: '';
  background-image:url('/icons/magazine.svg');
}

main .tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
  width: 30%;
}

main .tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

main input:focus-visible + label {
  outline: 2px solid var(--link-hover-color);
  border-radius: 3px;
}

main .tabset > label:hover,
main .tabset > input:focus + label,
main .tabset > input:checked + label {
  color: var(--link-selected-color);
}

main .tabset > label:hover::after,
main .tabset > input:focus + label::after,
main .tabset > input:checked + label::after {
  background: var(--link-selected-color);
  width: 80px;
}

main .tabset > input:checked + label {
  border-bottom: 1px solid #fff;
}

main .tabset {
  max-width: 65em;
  margin:20px auto;
  padding: 50px 22px 0;
  border: .3px solid var(--highlight-background-color);
  border-radius: 0.5em;
	box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%),
					0 10px 10px -5px rgb(0 0 0 / 4%),
					0 35px 20px -20px hsl(240deg 20% 92%);

}

main .adventure-details .tab-panel .side-bar {
  width: 15%;
  margin-top: 25px;
}

main .adventure-details .tab-panel .side-bar dl {
  margin-bottom: 1.25em;
  margin-left: .6em;
}

main .adventure-details .tab-panel .side-bar dt {
  color: var(--link-hover-color);
  font-size: x-small;
  text-transform: capitalize;
  line-height: 6px;
  padding-bottom: 2px;
}

main .adventure-details .tab-panel .side-bar dd {
  font-size:medium;
  margin-left: auto;
}

main .adventure-details .tab-panel .side-bar dt,
main .adventure-details .tab-panel .side-bar dd {
  border-left: .8px solid #8d8d8d;
  padding-left: 5px;
}


main .adventure-details .tab-panel .content-panel {
 width: 85%; 
}


