main .top-bikes > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

main .top-bikes > ul > li {
  border: 1px solid var(--highlight-background-color);
  background-color: var(--background-color);
  border-radius: 10px;
}

main .top-bikes .cards-card-body {
  margin: 16px;
}

main .top-bikes .cards-card-image {
  line-height: 0;
}

main .top-bikes .cards-card-body > *:first-child {
  margin-top: 0;
}

main .top-bikes > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: contain;
}
