main .imagelist {
  display: flex;
  flex-direction: row;
  max-width: 1920px;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
}

main .section.imagelist-container {
  padding: 64px 0;
}

main .imagelist::-webkit-scrollbar {
  display: none;
}

main .imagelist .card {
  width: 456px;
  position: relative;
}

main .imagelist .card::after {
  flex-basis: 350px;
  content:'';
}

main .imagelist .card:hover {
  background-color: #eee;
}

main .imagelist .card img {
  object-fit: cover;
  object-position: 0 25%;
  height: 320px;
  width: 100%;
}

main .imagelist a:hover {
  text-decoration: none;
  color: var(--text-color);
}

main .imagelist-wrapper {
  padding: unset;
  max-width: unset;
}

main .imagelist a:any-link {
  color: var(--text-color);
  text-decoration: none;
}

main .imagelist .card h3 {
  background-color: rgb(0 0 0 45%);
  color: #fff;
  padding: 7px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  left: 48%;
  transform: translateX(-50%);
  bottom: 35px;
  font-size: medium;
}